<div class="right-wrapper">
  <div class="main-header">
    <div class="chat-title">hogefuga</div>
    <div class="chat-end"><%= link_to "チャットを終了する", "#", class: "chat-end-link btn" %></div>
  </div>
  <div class="main-body">

    <div class="message">
      <div class="message-list">
        <div class="message-name">Tom</div>
        <div class="message-date">
          2020/3/31(Wed) 12:43:30
        </div>
      </div>
      <div class="message-content">おはよう</div>
    </div>

    <div class="message">
      <div class="message-list">
        <div class="message-name">Sin</div>
        <div class="message-date">
          2020/3/31(Wed) 12:43:30
        </div>
      </div>
      <div class="message-content">おはようー！</div>
    </div>

  </div>
  
  <div class="form">
    <div class="form-input">
      <input type="text" placeholder="type a message" class="message-box">
      <label class="form-image">
        <span class="image-file">画像<span>
        <input type="file" class="hidden">
      </label>
    </div>
      <input type="submit" value="送信" class="form-send-btn">
  </div>
</div>